/Java-Netbeans-Swing/AFeletriC/nbproject/private/
/Java-Netbeans-Swing/AFeletriC/build/
/Java-Netbeans-Swing/AFeletriC/dist/
/Java-Netbeans-Swing/Calculo/nbproject/private/
/Java-Netbeans-Swing/Calculo/build/
/Java-Netbeans-Swing/Imagens/nbproject/private/
/Java-Netbeans-Swing/Imagens/build/
/Java-Netbeans-Swing/Encapsulamento/nbproject/private/
/Java-Netbeans-Swing/Encapsulamento/build/
/Java-Netbeans-Mysql/MercadinhoGosling/nbproject/private/
/Java-Netbeans-Mysql/MercadinhoGosling/build/
/Java-Netbeans-Swing/ProjetoJavaVp/nbproject/private/
/Java-Netbeans-Swing/ProjetoJavaVp/build/
/Java-Netbeans-Swing/ProjetoJavaVp/dist/