/Java-Netbeans-Swing/AFeletriC/nbproject/private/
/Java-Netbeans-Swing/AFeletriC/build/
/Java-Netbeans-Swing/AFeletriC/dist/
/Java-Netbeans-Swing/Calculo/nbproject/private/
/Java-Netbeans-Swing/Calculo/build/
/Java-Netbeans-Swing/Imagens/nbproject/private/
/Java-Netbeans-Swing/Imagens/build/
/Java-Netbeans-Swing/Encapsulamento/nbproject/private/
/Java-Netbeans-Swing/Encapsulamento/build/
/Java-Netbeans-Mysql/MercadinhoGosling/nbproject/private/
/Java-Netbeans-Mysql/MercadinhoGosling/build/
/Java-Netbeans-Swing/ProjetoJavaVp/nbproject/private/
/Java-Netbeans-Swing/ProjetoJavaVp/build/
/Java-Netbeans-Swing/ProjetoJavaVp/dist/
/Java-Netbeans-Swing/Ex_JTable1/nbproject/private/
/Java-Netbeans-Swing/Ex_JTable1/build/
/Java-Netbeans-Swing/GeraPDF1/nbproject/private/
/Java-Netbeans-Swing/GeraPDF1/build/
/Java-Netbeans/Exception01/nbproject/private/
/Java-Netbeans/Exception01/build/
/Java-Netbeans-SQLite/JavaSQLite-01/nbproject/private/
/Java-Netbeans-SQLite/JavaSQLite-01/build/
/Java-Netbeans-SQLite/JavaSQLite-02/nbproject/private/
/Java-Netbeans-SQLite/JavaSQLite-02/build/
/Java-Netbeans-SQLite/Ex-Object-List-01/nbproject/private/
/Java-Netbeans-SQLite/Ex-Object-List-01/build/
/Java-Netbeans-SQLite/Ex-List-01/nbproject/private/
/Java-Netbeans-SQLite/Ex-List-01/build/
/Java-Netbeans-SQLite/Ex-List-02/nbproject/private/
/Java-Netbeans/Ex-List-02/build/
/Java-Netbeans-SQLite/JavaSQLite-03/nbproject/private/
/Java-Netbeans-SQLite/JavaSQLite-03/build/
/Java-Netbeans-Swing/ExJTable01/nbproject/private/
/Java-Netbeans-Swing/ExJTable01/build/